@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  
  font-family: "Noto Sans JP", sans-serif;
  font-weight:500;
  
}
body {
  margin: 0;
  overflow: auto !important;
  padding-right: 0px !important;
}
.sidebarwidthe{
  width:20px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

